<%-include ('../../components/header.ejs');%>


    <div class="container mt-3">
        <div class="card mt-3">
            <div class="card-header">
                <h2>Login de admin</h2>
            </div>
            <div class="card-body">
                <form method="POST" action="/authenticate">
                    <input class="form-control mb-3" type="email" name="email" placeholder="email@example.com">
                    <input class="form-control" type="password" name="password" placeholder="*******">
                    <button class="btn btn-success btn-block mt-3">
                            Login
                        </button>
                </form>
            </div>
        </div>
    </div>

    <%-include ('../../components/footer.ejs');%>